<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Wins:</strong>
    <%= user.wins %>
  </p>

  <p>
    <strong>Draws:</strong>
    <%= user.draws %>
  </p>

  <p>
    <strong>Losses:</strong>
    <%= user.losses %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= user.points %>
  </p>

</div>
